body {
  color: white;
  background-color: rgb(128, 18, 128); 
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;  
}

#menu {
    background-color: black;
    overflow: hidden;
}

#menu a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#menu a:hover{
    background-color: #e4e2e236;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    padding: 16px;
}

.sticky + .content {
    padding-top: 60px;
}
#Introduction { 
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

#Introduction h1{
    width: 100%;
    text-align: center;
}

#Introduction button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    font-size: 40px;
    padding: 15px 30px;
    border-radius: 20px;
    background-color: rgb(4, 105, 83);
    transition-duration: 0.4s;
    color: white;
    text-decoration: none;
}


#profilePic {
    float: right;
    border-radius: 2px;
    display: block;
    line-height: 10px;
    margin-right: 50px;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 24px 0 rgba(0,0,0,0.19);
}

#Introduction button:hover {
    background-color: white;
    color: rgb(4, 105, 83);
}

#Languages{
    border: 5px solid black;
    padding: 10px;
    width: 100%;
    border-collapse: collapse;
}



#Languages td, #Languages th {
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}

#Languages li {
    float:left;
    width: 150px;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/** Style the Image Used to Trigger the Modal 
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    float: left;
    vertical-align: text-bottom;
  }

.myVideo {
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    float: left;
    vertical-align: text-bottom;
    background-color: black;
}
  .myImg:hover {opacity: 0.7;}
  

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9);
  }
  

  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  

  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }*/

#ContactMe {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

#ContactMe h1{
    width: 100%;
    text-align: center;
}
#ContactMe p{
    text-align: center;
}

.ContactLinks {
    margin-left: auto;
    margin-right: auto;
}


#Contact {
    display: block;
    width: 100%;
}

li {
    list-style-type: circle;
}



#Portfolio {
    float: left;
}

#PortfolioText {
    display: inline-block;
    font-size: 1.1vw;
}
#PortfolioTable {
    float: left;
    padding-left: 10px;
    margin-top: 10px;
    table-layout: fixed;
}

#PortfolioTable li {
    float: left;
    width: 150px;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
