body {
  color: white;
  background-color: rgb(128, 18, 128); 
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;  
}
#menu {
    background-color: black;
    overflow: hidden;
}

#menu a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#menu a:hover{
    background-color: #e4e2e236;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.content {
    padding: 16px;
}

.sticky + .content {
    padding-top: 60px;
}

#aboutdescription {
    height: 150px;
    width: 350px;
    color: black;

}

